
<body>
    <div class="top-image-area">
        <!-- <img src="assets/figure/landscape.jpg" width="100%"> -->
        <div class="img">
            <div class="msg">
                Step by Step, <br>Making Tommorow's Me
            </div>
        </div>
        <!-- <div class="msg">Step by Step, making Tomorrow's me</div> -->
    </div>

    <div class="title">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1490127252417-7c393f993ee4?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Hi there! Welcome to Akama-hub Git page.</h5>
                    </div>
                    <div class="describe">組み込みソフトウェアエンジニアの akama-hub です. 2023/8末- から Web 開発の勉強を開始し, 合同会社 VISION EYE に業務委託として参画しております. </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub_title1">
        <div class="card" >
            <img src="https://images.unsplash.com/photo-1491841651911-c44c30c34548?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">My History</h5>
                <p class="card-text">経歴は以下の通りとなっています. Web 開発の勉強は 8 月末から始め, 平日の仕事終わりと休日に活動中.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">2017/4 - 2021/3
                    <div class="describe">大阪大学 工学部 電子情報工学科 学士 (工学)</div>
                </li>
                <li class="list-group-item">2021/4 - 2023/3
                    <div class="describe">大阪大学大学院 情報科学研究科 情報ネットワーク学専攻 修士 (情報科学)</div>
                </li>
                <li class="list-group-item">2023/4 - 
                    <div class="describe">Panasonic 株式会社</div>
                </li>
                <li class="list-group-item">2023/8 - 
                    <div class="describe">個人事業主（副業）として活動を開始</div>
                </li>
            </ul>
            <!-- <div class="card-body">
            <a href="#" class="card-link">More Info.</a>
            </div> -->
        </div>
    </div>

    <div class="sub_title2">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1542744095-291d1f67b221?auto=format&fit=crop&q=80&w=1170&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">My Skill</h5>
                <p class="card-text">使用できるプログラミング言語やフレームワークは以下の通りとなっています.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span> <span class="skill">Angular</span>
                        <span class="badge badge-outlined badge-primary">フロントエンド</span>
                    </span> 
                    
                    <div class="describe">
                        Web 開発のフロントエンドフレームワークは Angular のみを使用
                        <ul>
                            <li>
                                <a href="https://github.com/akama-hub/angular_chatApp">chat App</a>
                            </li>
                            <li>
                                <a href="https://github.com/akama-hub/angular_firstApp">admin App</a>
                            </li>
                            <li>
                                <a href="https://github.com/akama-hub/angular_supabase">Angular × Supabase template</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item">
                    <span> <span class="skill">Supabase</span>
                        <span class="badge badge-outlined badge-success">バックエンド</span>
                    </span>
                    <div class="describe">
                        住宅データ分析アプリのデータベース(開発中)
                        <ul>
                            <li>
                                <a href="https://github.com/akama-hub/angular_supabase">Angular × Supabase template</a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
                <li class="list-group-item">
                    <span> <span class="skill">Firebase</span>
                        <span class="badge badge-outlined badge-success">バックエンド</span>
                    </span>
                    <div class="describe">
                        チャットアプリのデータベース
                        <ul>
                            <li>
                                <a href="https://github.com/akama-hub/angular_chatApp">chat App</a>
                            </li>
                            <li>
                                <a href="https://github.com/akama-hub/angular_firstApp">admin App</a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
                <li class="list-group-item">
                    <span> <span class="skill">Django</span>
                        <span class="badge badge-outlined badge-success">バックエンド</span>
                    </span>
                    <div class="describe">
                        言語学習アプリのバックエンドフレームワーク(開発中)
                        <ul>
                            <li>
                                <a href="https://github.com/akama-hub/TodoList">Angular × Django template</a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
                <li class="list-group-item">
                    <span class="skill">Bootstrap</span>
                    <div class="describe">Web開発のデザインフレームワーク</div>
                </li>
                <li class="list-group-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        More Info
                    </a>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">その他のスキル</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h2 class="fs-5">Unity</h2>
                                <p>研究で使用する用のオンライン
                                    <a href="https://github.com/akama-hub/Photon_FPS">FPSゲーム</a>開発にて使用</p>
                                <hr>
                                <h2 class="fs-5">Python</h2>
                                <p>DQN を使った行動予測に関する研究で使用</p>
                                <hr>
                                <h2 class="fs-5">C言語</h2>
                                <p>家電製品の組み込みファームウェア開発で使用</p>
                                <hr>
                                <h2 class="fs-5">C#</h2>
                                <p>Unity を使った FPS ゲームの開発で使用</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>